<ion-header no-border>
  <ion-toolbar color="white">
    <ion-title>{{ 'SSID_CONFIRM.ADD_PRODUCT' | translate: { productName: themeService.productName } }}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="closePage()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form #ssidForm="ngForm" novalidate (ngSubmit)="onNext()" class="container">
    <ion-list class="main">
      <h1 align="center">{{ 'SSID_CONFIRM.SET_WIFI' | translate }}</h1>
      <svg height="128" viewBox="0 0 500 300" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <!-- Generator: Sketch 43.2 (39069) - http://www.bohemiancoding.com/sketch -->
        <title>Device Network Graphic</title>
        <desc>Created with Sketch.</desc>
        <defs></defs>
        <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="round">
          <g id="Graphic-/-Device-Network">
            <g id="Device-Network-Graphic" transform="translate(75.000000, 37.000000)">
              <g id="AC" transform="translate(0.000000, 100.545024)" stroke="#212635" stroke-linejoin="round">
                <path d="M341.393811,97.9986649 L10.1848105,97.9986649 C5.14796842,97.9986649 1.02691579,93.8795044 1.02691579,88.8449749 L1.02691579,10.1232417 C1.02691579,5.08871225 5.14796842,0.969551794 10.1848105,0.969551794 L341.393811,0.969551794 C346.430653,0.969551794 350.551705,5.08871225 350.551705,10.1232417 L350.551705,88.8449749 C350.551705,93.8795044 346.430653,97.9986649 341.393811,97.9986649 Z" id="Stroke-1" stroke-width="5"></path>
                <path d="M336.8112,5.0667434 L336.8112,74.1267569 C336.8112,79.1612864 332.690147,83.2804469 327.653305,83.2804469 L23.9225684,83.2804469 C18.8857263,83.2804469 14.7646737,79.1612864 14.7646737,74.1267569 L14.7646737,5.0667434" id="Stroke-3" stroke-width="3"></path>
                <path d="M1.02554211,89.8449749 C1.02554211,89.8449749 0.260857895,105.607629 4.45975263,118.578408 C4.45975263,118.578408 7.51391053,125.05922 17.4319105,125.05922 L175.790226,125.05922" id="Stroke-5" stroke-width="5"></path>
                <path d="M350.497216,89.8449749 C350.497216,89.8449749 351.2619,105.607629 347.063005,118.578408 C347.063005,118.578408 344.008847,125.05922 334.090847,125.05922 L175.787479,125.05922" id="Stroke-7" stroke-width="5"></path>
                <path d="M325.750295,83.2786161 C325.750295,83.2786161 326.895032,91.1965579 323.653137,97.9977495" id="Stroke-9" stroke-width="3"></path>
                <path d="M14.7655895,108.203791 L336.812116,108.203791" id="Stroke-11" stroke-width="3"></path>
                <path d="M336.741142,108.756041 C336.741142,108.756041 337.597405,117.337625 333.306932,125.063339" id="Stroke-13" stroke-width="3"></path>
                <path d="M294.992132,108.756041 C294.992132,108.756041 295.848395,117.337625 291.557921,125.063339" id="Stroke-15" stroke-width="3"></path>
              </g>
              <path class="primary" d="M200.256119,71.3686929 C187.904182,59.0102515 168.055272,58.8330644 155.922182,70.9725428 M223.343112,50.5081508 C198.639238,25.791268 158.941417,25.4354532 134.675238,49.7144102 M245.311389,28.5283048 C208.255578,-8.54845998 148.708847,-9.08002134 112.309579,27.3369735" id="shape" stroke="#00BAFF" stroke-width="7"></path>
            </g>
          </g>
        </g>
      </svg>
      <p align="center">{{ 'SSID_CONFIRM.NETWORK_INFO' | translate }}</p>
      <ion-item color="lightGrey" *ngIf="useText">
        <ion-label floating color="darkGrey">SSID</ion-label>
        <ion-input [(ngModel)]="wifiAp.ssid" (ngModelChange)="fulfillPassword()" name="ssid" type="text" #ssid="ngModel" myTabIndex="1">
        </ion-input>
      </ion-item>
      <ion-item color="lightGrey" *ngIf="!useText">
        <ion-label stacked color="darkGrey">SSID</ion-label>
        <ion-select [(ngModel)]="selectAp" name="ssidSelect" #ssidSelect="ngModel" placeholder="{{ ('SSID_CONFIRM.CHOOSE' | translate) }}" (ngModelChange)="wifiApSelected()"
          (ionFocus)="isSelectFocus = true;" (ionBlur)="isSelectFocus = false;" [compareWith]="compareFn" cancelText="{{ 'SSID_CONFIRM.CANCEL' | translate }}" okText="{{ 'SSID_CONFIRM.OK' | translate }}">
          <ion-option *ngFor="let ap of wifiAps" [value]="ap">{{ ap.ssid }}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item color="lightGrey" *ngIf="needPassword()" class="input-with-eye-toggle">
        <ion-label floating color="darkGrey">{{ 'SSID_CONFIRM.PASSWORD' | translate }}</ion-label>
        <ion-input [(ngModel)]="wifiAp.password" name="password" [type]="inputType" #password="ngModel" myTabIndex="2" clearOnEdit="false">
        </ion-input>
        <button (click)="onShowHidePassword()" ion-button icon-only clear item-right type="button">
          <ion-icon [name]="iconName" color="dark"></ion-icon>
        </button>
      </ion-item>
      <ion-item color="lightGrey" *ngIf="useText">
        <ion-label floating color="darkGrey">{{ 'SSID_CONFIRM.SECURITY' | translate }}</ion-label>
        <ion-select [(ngModel)]="wifiAp.sec" (ngModelChange)="clearPassword()" name="security" #security="ngModel" cancelText="{{ 'SSID_CONFIRM.CANCEL' | translate }}" okText="{{ 'SSID_CONFIRM.OK' | translate }}">
          <ion-option value="wpa2" selected="true">WPA2</ion-option>
          <ion-option value="wpa">WPA</ion-option>
          <ion-option value="wep">WEP</ion-option>
          <ion-option value="open">OPEN</ion-option>
        </ion-select>
      </ion-item>
      <ion-item color="lightGrey">
        <ion-label color="primary">
          <p>
            <b>{{ 'SSID_CONFIRM.REMEMBER_SSID' | translate }}</b>
          </p>
        </ion-label>
        <ion-toggle color="primary" item-right [(ngModel)]="saveSsid" name="saveToggle" #saveToggle="ngModel"></ion-toggle>
      </ion-item>
      <ion-item color="lightGrey">
        <ion-label color="primary">
          <p>
            <b>{{ 'SSID_CONFIRM.MANUALLY_SET' | translate }}</b>
          </p>
        </ion-label>
        <ion-toggle color="primary" item-right [(ngModel)]="useText" name="inputToggle" #inputToggle="ngModel" (ngModelChange)="clearSSID()"></ion-toggle>
      </ion-item>
    </ion-list>
    <div>
      <button ion-button color="primary" class="bottom-button full-button" type="submit" full [disabled]="!isValid()">{{ 'SSID_CONFIRM.START_CONNECTION' | translate }}</button>
    </div>
  </form>
  <extra-page-space></extra-page-space>
</ion-content>
